{% extends 'privacy_analytics/base.html' %}
{% load humanize %}
{% load analytics_tags %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Privacy Analytics</h1>
        <form method="GET" class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input type="datetime-local" class="input is-medium" name="time__gte" value="{{ time__gte }}">
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <input type="datetime-local" class="input is-medium" name="time__lte" value="{{ time__lte }}">
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <input type="text" class="input is-medium" name="path" placeholder="any path" value="{{ path }}">
                    </p>
                </div>
                <div class="field is-narrow">
                    <p class="control">
                        <button type="submit" class="button is-success is-medium">
                            Filter
                        </button>
                    </p>
                </div>
                <div class="field is-narrow">
                    <p class="control">
                        <a href="{% url 'analytics:dashboard' %}" class="button is-danger is-medium">
                            Clear
                        </a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="messages">
    {% for message in messages %}
        <div class="notification {{ message.classes }}">{{ message.content }}</div>
    {% endfor %}
</section>

<section class="section is-paddingless">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="notification is-success is-bold">
                    <p class="title">{{ unique | length  | intcomma }}</p>
                    <p class="subtitle">Unique Visitors</p>
                </div>
            </div>

            <div class="column">
                <div class="notification is-primary is-bold">
                    <p class="title">{{ total_views | length | intcomma }}</p>
                    <p class="subtitle">Total Views</p>
                </div>
            </div>
            <div class="column">
                <div class="notification is-info is-bold">
                    <p class="title">{{ percent_authenticated.percent | default_if_none:0 | percent | intcomma }}</p>
                    <p class="subtitle">Authenticated</p>
                </div>
            </div>
            <div class="column">
                <div class="notification is-link is-bold">
                    <p class="title">{{ average_per_visitor.views | default_if_none:0 | intcomma | floatformat:"2" }}</p>
                    <p class="subtitle">Views Per Visitor</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-paddingless">
    <div class="container">
        <div class="columns is-centered">
            {% if paths %}
            <div class="column is-8">
                
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Path</th>
                                <th>Count</th>
                                <th>Percent</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for path in paths %}
                                <tr>
                                    <th class="is-narrow">{{ forloop.counter }}</th>
                                    <td class="is-narrow">{{ path.path }}</td>
                                    <td class="is-narrow">{{ path.total | intcomma }}</td>
                                    <td class="is-narrow">{{ path.percent | percent | intcomma}}</td>
                                    <td class="is-large"><progress class="progress is-large is-success" value="{{ path.percent }}" max="1">{{ percent }}%</progress></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="column is-4">
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Referrer</th>
                                <th>Count</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for referrer in referrers %}
                                <tr>
                                    <th class="is-narrow">{{ forloop.counter }}</th>
                                    <td class="is-large">
                                        {% if referrer.referrer %}
                                            <a href={{ referrer.referrer }}>{{ referrer.referrer | truncatechars:30 }}</a>
                                        {% else %}
                                            No Referrer
                                        {% endif %}
                                    </td>
                                    <td class="is-large">{{ referrer.total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
            {% else %}
                <div class="column has-text-centered">
                    <h1 class="title">Sorry, there is no analytics data to display</h1>
                </div>
            {% endif %}
        </div>
    </div>
</section>

<section class="section">
    <div class="level">
        <div class="level-item level-left">
            <form method="GET" action='{% url 'analytics:clear' %}'>
                <button class="button is-danger is-outlined">Clear Stored Analytics</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}