{% extends 'privacy_analytics/base.html' %}
{% load humanize %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Privacy Analytics</h1>
        <form method="GET" class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input type="datetime-local" class="input is-medium" name="time__gte" value="{{ time__gte }}" required>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <input type="datetime-local" class="input is-medium" name="time__lte" value="{{ time__lte }}" required>
                    </p>
                </div>
                <div class="field is-narrow">
                    <p class="control">
                        <button type="submit" class="button is-success is-medium">
                            Filter
                        </button>
                    </p>
                </div>
                <div class="field is-narrow">
                    <p class="control">
                        <a href="{% url 'analytics:dashboard' %}" class="button is-danger is-medium">
                            Clear
                        </a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="section is-paddingless">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="notification is-success is-bold">
                    <p class="title">{{ unique_visitors | intcomma }}</p>
                    <p class="subtitle">Unique Visitors</p>
                </div>
            </div>

            <div class="column">
                <div class="notification is-primary is-bold">
                    <p class="title">{{ total_views | intcomma }}</p>
                    <p class="subtitle">Total Views</p>
                </div>
            </div>
            <div class="column">
                <div class="notification is-info is-bold">
                    <p class="title">{{ percent_authenticated.total | intcomma | floatformat:"-1" }}%</p>
                    <p class="subtitle">Authenticated</p>
                </div>
            </div>
            <div class="column">
                <div class="notification is-link is-bold">
                    <p class="title">{{ views_per_visitor.total__avg | intcomma | floatformat:"-1" }}</p>
                    <p class="subtitle">Views Per Visitor</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-paddingless">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
            <div class="table-container">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Path</th>
                            <th>Count</th>
                            <th>Percent</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for page in pages %}
                            <tr>
                                <th class="is-narrow">{{ forloop.counter }}</th>
                                <td class="is-narrow">{{ page.path }}</td>
                                <td class="is-narrow">{{ page.total | intcomma }}</td>
                                <td class="is-narrow">{{ page.percent }}%</td>
                                <td class="is-large"><progress class="progress is-large is-danger" value="{{ page.percent }}" max="100">{{ page.percent }}%</progress></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>

            <div class="column is-4">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Referrer</th>
                            <th>Count</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for referrer in referrers %}
                            <tr>
                                <th class="is-narrow">{{ forloop.counter }}</th>
                                <td class="is-large">
                                    {% if referrer.referrer %}
                                        <a href={{ referrer.referrer }}>{{ referrer.referrer | truncatechars:30 }}</a>
                                    {% else %}
                                        No Referrer
                                    {% endif %}
                                </td>
                                <td class="is-large">{{ referrer.total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="level">
        <div class="level-item level-left">
            <button class="button is-danger is-outlined">Clear Stored Analytics</button>
        </div>
    </div>
</section>
{% endblock %}