{% extends 'privacy_analytics/base.html' %}
{% load humanize %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Privacy Analytics</h1>
        <form method="GET" class="field is-grouped">
            <p class="control is-expanded">
                <input class="input is-medium" type="datetime-local" placeholder="start date" required>
            </p>
            <p class="control is-expanded">
                <input class="input is-medium" type="datetime-local" placeholder="end date" required>
            </p>
            <p class="control">
                <button" type="submit" class="button is-success is-medium">
                    Filter
            </button>
            </p>
            <p class="control">
                <a href="{% url 'analytics:dashboard' %}" class="button is-danger is-medium">
                    Clear
                </a>
            </p>
        </form>

        <div class="columns">
            <div class="column">
                <div class="notification is-success">
                    <p class="title">{{ unique_visitors | intcomma }}</p>
                    <p class="subtitle">Unique Visitors</p>
                </div>
            </div>

            <div class="column">
                <div class="notification is-primary">
                    <p class="title">{{ total_views | intcomma }}</p>
                    <p class="subtitle">Total Views</p>
                </div>
            </div>
            <div class="column">
                <div class="notification is-info">
                    <p class="title">{{ percent_authenticated.total | intcomma | floatformat:"-1" }}%</p>
                    <p class="subtitle">Authenticated</p>
                </div>
            </div>
            <div class="column">
                <div class="notification is-link">
                    <p class="title">{{ views_per_visitor.total__avg }}</p>
                    <p class="subtitle">Views Per Visitor</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}